<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Inquisiters</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- start of nav bar -->
        <header class="headers">
            <img class="logo" src="/static/main_logo.jpeg" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <a class="cta" href="#"><button>Contact Us</button></a>
                </ul>
            </nav>
        </header>
        <!--end of nav bar-->  

        <!--start of jumbotron-->
        <div class="jumbotron" style="background-color: lightgrey;">
            <div class="container ">
                <img class="logopicture" src="/static/logologo.png" style="position: absolute; top: 45px; right: 20px" width="250" height="250"/>
                <h1 style="font-family:verdana">LogoSpace</h1>
                <br>
                <p style="font-family:'Arial Narrow'">
                    Explore your brand
                </p>
            </div>
        </div>
        <!--end of jumbotron-->


        <div class="container">
            <div class="row">
            <h3>Try out LogoSpace! </h3>
            <h4>Usage instructions:</h4>
            <h4>1. Upload your video or image (PNG, JPG, and MP4 only)</h4>
            <h4>2. Click 'Detect Logo' and wait for the success message</h4>
            <h4>3. Check the detections in Table of Insights</h4>
            <h4> 4. Download output file, label, and table</h4>
                <!--Element 1-->
                <div class="col-4">
                    <h3 style="padding: 20px 0px;">Input Video</h3>
                    <form class="p-3 text-right" action="/upload", method="post" enctype="multipart/form-data">
                        <input class="form-control" type="file" id="real-life" name="logofile"/>
                        <input class="btn btn-primary mt-3" type="submit" value="Upload">
                        <!--<button type="button" id="custom-button" >Choose Video</button>-->
                    </form>

                    {% if input_filename %}
	                    <div>
		                    <video <video width="340" height="250" controls="controls" preload="preload">
			                    <source src="{{ url_for('display_video', filename=input_filename) }}" type="video/mp4"></source>
		                    </video>
	                    </div>
                    {% endif %}
                
                    <!-- for the show video-->
                        
                <!-- @app.route('/display/<filename>')
                    def display_image(filename):
                        #print('display_image filename: ' + filename)
                        return redirect(url_for('static', filename='uploads/' + filename), code=301) -->
                </div>
                
                
        
                
                <!--Element 2-->
                <div class='col-4 my-auto' style="text-align: center;">
                    <h3>Table of Insights</h3>

                    <div>
                        <a href="/download_report" download="proposed_file_name">
                        <button class="btn btn-primary mt-3" style="height:40px; width:160px; font-size:17px">Download Table</button></a>
                    </div>
                </div>

                <!--Element 3-->
                <div class="col-4" style="text-align: end;">
                    <h3 style="padding: 20px 0px;">Download Predictions</h3>

                    <div>
                      <a href="/download" download="proposed_file_name">
                        <button class="btn btn-primary mt-3" style="height:40px; width:160px; font-size:17px">Download File</button></a>
                    </div>
                    <br>
                    <div>
                      <a href="/download_label" download="proposed_file_name">
                        <button class="btn btn-primary mt-3" style="height:40px; width:160px; font-size:17px">Download Labels</button></a>
                    </div>
                </div>


            </div>
           
        </div>

        <div class="container">

            {% if output_filename %}
	            <div>
		            <video <video width="340" height="250" controls="controls" preload="preload">
			            <source src="{{ url_for('display_output_video', filename=output_filename) }}" type="video/mp4"></source>
		            </video>
	            </div>
            {% endif %}
            
            <form action="/detect", method="post">  
                <!--<a href=# id=test><button>Detect Logo</button></a>-->
                <input class="btn btn-primary mt-3" type="submit" value="Detect Logo">
            </form>
            <br>
            {% if done_msg %}
                <p> {{done_msg}} </p>
            {% endif %}
        </div>

            <!-- https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event -->
                <!-- @app.route('/detectlogofunction')
                def detectlogofunction():
                print ("Hello")
                return ("nothing") -->

            <script type=text/javascript>
                $(function() {
                $('a#test').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/detectlogofunction',
                        function(data) {
                    //do nothing
                    });
                    return false;
                });
                });
            </script>

            
        <br>
        <br>
        <div class="col-4" style="position: absolute; left: 190px">
            <h3>Download Youtube videos</h3>
            <form action="/youtube_url" method="post">
                <div class="form-row">
                    <input type="text" class="form-control"
                        placeholder="Enter Youtube Video URL"
                        name="youtube_url"/> 
                </div>
            
                <div>
                    <input type="submit" value="Start Download" class="btn btn-primary mt-3" />
                </div>
            </form>
            {% if post_download %}
                 <p> {{post_download}} </p>
            {% endif %}
        
            <br>
        <div class="download_youtube">
          <a href="/download_youtube" download="proposed_file_name">
            <button class="btn btn-primary mt-3" style="height:40px; width:180px; font-size:17px">Download YT Video</button></a>
            <br>
            <br>
        </div>

        <script>
            const reallifebtn = document.getElementById("real-life")
            const custombtn = document.getElementById("custom-button")
            custombtn.addEventListener("click", function(){
                reallifebtn.click();
            })

        </script>
    </body>
</html>